.listHeading {
    padding: 20px;
    font-size: 24px;
    font-weight: 100;
    font-family: Segoe UI;
}

.listFabric {
    margin: 25px;
    overflow-x: scroll;
    border: 1px solid #aaa;

    // .columnGroupHeads {
    //     // overflow: hidden;
    //     // text-overflow: ellipsis;
    //     white-space: nowrap;
    // }
}
