.bubbleColumnWrap {
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 50px);
    padding: 25px;

    * {
        color: #eee;
    }

    .bubbleColumnHeading {
        font-size: 18px;
    }

    .linkGroup {
        margin: 10px;

        a {
            cursor: pointer;
            display: inline-block;
            margin-bottom: 8px;
            &:hover {
                color: red;
            }
        }
    }
}
